{% extends '@backend/template/layout/app_layout.twig' %}

{% block breadcrumbs %}
    <h4 class="fw-bold py-3 mb-4"><a href="{{ url_for('users.list') }} " class="text-muted fw-light">Management users /</a> Edit user</h4>
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-pills flex-column flex-md-row mb-3">
                <li class="nav-item">
                    <a class="nav-link active" href="javascript:void(0);"><i class="bx bx-user me-1"></i> User</a>
                </li>
            </ul>
            <div class="card mb-4">
                <h5 class="card-header">Profile Details</h5>
                <!-- Account -->
                <form method="POST" action="{{ url_for('users-management.post.edit', {id_user: user.id}) }}" enctype="multipart/form-data">
                    <div class="card-body">
                        <div class="d-flex align-items-start align-items-sm-center gap-4">
                            <img
                                    src="{{ user.photo }}"
                                    alt="user-avatar"
                                    class="d-block rounded"
                                    height="100"
                                    width="100"
                                    id="uploadedAvatar"
                            />
                            <div class="button-wrapper">
                                <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
                                    <span class="d-none d-sm-block">Upload new photo</span>
                                    <i class="bx bx-upload d-block d-sm-none"></i>
                                    <input
                                            type="file"
                                            id="upload"
                                            class="account-file-input"
                                            name="profile-photo"
                                            hidden
                                            accept="image/png, image/jpeg"
                                    />
                                </label>

                                <p class="text-muted mb-0">Allowed JPG, GIF or PNG. Max size of 800K</p>
                            </div>
                        </div>
                    </div>
                    <hr class="my-0"/>
                    <div class="card-body">
                        <div class="row">
                            <div class="mb-3 col-md-6">
                                <label for="firstName" class="form-label">Name</label>
                                <input
                                        class="form-control {{ errors.username ? 'is-invalid' : '' }}"
                                        type="text"
                                        id="username"
                                        name="username"
                                        value="{{ user.name }}"
                                        autofocus
                                />
                                {% if errors.username %}
                                    <div class="invalid-feedback">
                                        {{ errors.username | first }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="mb-3 col-md-6">
                                <label for="email" class="form-label">E-mail</label>
                                <input
                                        class="form-control {{ errors.email ? 'is-invalid' : '' }}"
                                        type="text"
                                        id="email"
                                        name="email"
                                        value="{{ user.email }}"
                                        placeholder="john.doe@example.com"
                                />
                                {% if errors.email %}
                                    <div class="invalid-feedback">
                                        {{ errors.email | first }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="mb-3 col-md-6">
                                <label for="role" class="form-label">Role</label>
                                <select id="role" name="role" class="select2 form-select  {{ errors.role ? 'is-invalid' : '' }}">
                                    <option>Select role</option>
                                    {% for role in roles %}
                                        <option value="{{ role.id }}" {{ role.id == user.id_rol ? 'selected' : '' }}>{{ role.name_show }}</option>
                                    {% endfor %}
                                </select>
                                {% if errors.role %}
                                    <div class="invalid-feedback">
                                        {{ errors.role | first }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="mb-3 col-md-6">
                                <label for="active" class="form-label">Active</label>
                                <select id="active" name="active" class="select2 form-select  {{ errors.active ? 'is-invalid' : '' }}">
                                    <option value="0" {{ user.active ? '' : 'selected' }}>Deactivated</option>
                                    <option value="1" {{ user.active ? 'selected' : '' }}>Active</option>
                                </select>
                                {% if errors.active %}
                                    <div class="invalid-feedback">
                                        {{ errors.active | first }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="mt-2">
                            <button type="submit" class="btn btn-primary me-2">Save changes</button>
                        </div>
                        {{ csrf.field | raw }}
                    </div>
                </form>
                <!-- /Account -->
            </div>
        </div>
    </div>
{% endblock %}