<nav class="navbar navbar-expand-md sticky-top p-0">
    <div class="container-fluid bg-head-foot pb-2">
        <a class="navbar-brand " href="{{ url_for('dashboard') }}"> <img src="{{ base_path() }}{{ app_logo }}" width="80"/> </a>
        <button class="navbar-toggler border-light" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header bg-primary-subtle">
                {# <h5 class="offcanvas-title" id="offcanvasNavbarLabel">logo</h5> #}
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body bg-head-foot">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 align-items-center">
                        {% if auth.user == null %}
                        <li class="nav-item">
                            <a class="text-white fw-semibold btn btn-outline-success" aria-current="page" href="{{ url_for('auth.get.login') }}">Login</a>                           
                        </li>
                        {% else %}
                            <li class="nav-item">
                                <i class="text-white fs-6 mx-2 text-nowrap">Hola {{auth.user.name}}. 👋 </i>
                            </li>
                            <li class="nav-item">
                                <form id="logoutForm" method="post" action="{{ url_for( 'auth.get.logout') }}">
                                    <a href="javascript:$('#logoutForm').submit();" class="btn btn-outline-success text-white fw-semibold">
                                        <div data-i18n="Analytics">Logout</div>
                                    </a>
                                    {{ csrf.field | raw }}
                                </form>
                            </li>
                        {% endif %}
                    
                    <li class="nav-item">
                        <a class="btn btn-outline-success text-white fw-semibold mx-2" href="{{ url_for('company.get.list') }}">Empresas</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="btn btn-outline-success dropdown-toggle text-white fw-semibold" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Categorías
                        </a>
                        <ul class="dropdown-menu bg-primary-subtle">
                        {% if auth.user.id_rol == 3 %}
                            <li><a class="dropdown-item" href="{{ url_for('company.get.list', {id: auth.user.id} ) }}">Tus Empresas</a></li>
                        {% endif %}
                            <li><a class="dropdown-item" href="{{ url_for('company.get.recent') }}">Recientes</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('company.get.popularity') }}">Populares</a></li>
                        </ul>
                    </li>
                </ul>
                    <form method="GET" action="{{ url_for('company.get.search') }}" class="d-flex" role="search">
                    <input id="search" class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search"/>
                    <button id="btSearch" class="btn btn-outline-success text-white fw-semibold" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
</nav>

{% block extraJS %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
 
    <script>
        document.getElementById("btSearch").addEventListener("click", (event) => {
            let error = "";

            const search = document.getElementById("search").value
            if( search == null || search === "" ) {
            error += "Debes rellenar el campo search";
            }
       
            if(error){
                event.preventDefault();
                Swal.fire({
                    icon: 'error',
                    title: 'No puedes realizar la búsqueda dejando este campo vacío.',
                    html: error,
                    width: 600,
                    padding: '3em',
                    color: '#30329C',
                    background: '#fff url({{ base_path() }}/assets/backend/assets/img/backgrounds/trees.png)',
                    backdrop: `
                        rgba(0,0,123,0.4)
                        url("{{ base_path() }}/assets/backend/assets/img/elements/nyan-cat.gif")
                        left top
                        no-repeat
                    `
                })
            }
        });
    </script>
{% endblock %}