{% block body %}
<div class="row m-0">
    {% if auth.user.id_rol == 3 %}
        <div class="card-header d-flex align-items-center justify-content-between me-2 col-sm-2">
            <a type="button" class="btn btn-primary" href="{{ url_for('company.get.create') }}">Agregar Compañia</a>
        </div>
    {% endif %}
        <div class="column ps-0 pb-2 col ">
            <label class="col-sm-4 text-nowrap text-success fs-5 fw-semibold pb-1">Filtrar por provincias </label>
            <select class="form-select col-sm-4 w-25" id="provincia" name="provincia">
                <option value='Todas' selected>Todas</option>
                {% for provincia in provincias %}       
                    <option value="{{ provincia.name }}"> {{ provincia.name }}</option>               
                {% endfor %}       
            </select>
        </div>
    </div>
	<div class="card">
		<div class="card-header d-flex align-items-center justify-content-between">
			<h5 class="mb-0"><i class= "bx bxs-buildings text-primary"></i> Lista de empresas</h5>
		</div>
		<div class="card-body">
			<div class="table-responsive text-nowrap">
				<table class="table table-striped">
					<thead>
						<tr class="text-nowrap">
							<th>#</th>
							<th>Empresa</th>
							<th>Provincia</th>
							<th>Url</th>
							<th class="text-center">Actions</th>
						</tr>
					</thead>
					<tbody>
						{% if companies is empty %}
							<tr>
								<td colspan="100%" class="text-center">Actualmente no hay ninguna empresa disponible</td>
							</tr>
						{% else %}
							{% for company in companies %}
                                {% if company.active == 1 or company.id_creator == auth.user.id %}
                                    <tr>
                                        <th>{{company.active == 0 ? 'No activo' : '' }}</th>
                                        <td>{{ company.name }}</td>
                                        <td>{{ company.provincia }}</td>
                                        <td scope="row" class="link"><a  href='{{company.url}}'>{{company.url}}</a></td>
                                        <td>
                                            <div class="d-flex justify-content-evenly">
                                                <a class="me-1" href='{{ url_for('company.get.view', {id : company.id}) }}'><i class="bx bx-show me-1 text-info"></i></a>
                                                {% if company.id_creator == auth.user.id %}
                                                    <a class="me-1" href='{{ url_for('company.get.edit', {id : company.id}) }}'><i class="bx bx-edit-alt pb-2 text-success"></i></a>
                                                    <i class="bx bx-trash me-1 text-danger" type="button" data-bs-toggle="modal" data-bs-target="#delete_{{company.id}}"></i>
                                                {% endif %}
                                            </div>
                                        </td>
                                    </tr>

                                    <div class="modal fade confirm-delete" id="delete_{{company.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title" id="myModalLabel">Eliminar Empresa
                                                        </h4>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                                </div>
                                                <div class="modal-body">
                                                    ¿Estás seguro de que quieres eliminar la empresa: {{company.name}}?
                                                </div>
                                                <div class="d-flex flex-row  justify-content-start modal-footer">
                                                    <form method="post" action="{{ url_for('company.post.delete', {id : company.id}) }}">
                                                        <div class="btn-group">
                                                            <button class="btn btn-danger dropdown-toggle" type="sumbmit" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <i class="bx bx-trash me-1"></i>Delete
                                                            </button>
                                                        </div>
                                                        {{ csrf.field | raw }}
                                                    </form>
                                                    <button type="button" class="btn btn-primary " data-bs-dismiss="modal">Cancelar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
							{% endfor %}
							
						{% endif %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}

{% block extraCss %}
	<link rel="stylesheet" href="/assets/backend/assets/css/extra.css"/>
{% endblock %}

{% block extraJS %}
    <script>
        document.getElementById("provincia").addEventListener("change", function() {
            let provincia = this.value;
            let compañias = document.getElementsByTagName("tr");
            for (let i = 1; i < compañias.length; i++) {
                let celdas = compañias[i].getElementsByTagName("td");
                if (celdas[1].textContent == provincia || provincia == "Todas") {
                    compañias[i].style.display = "";
                } else {
                    compañias[i].style.display = "none";
                }
            }
        });
    </script>
{% endblock %}